<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>bomb0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{46,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>bomb0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{46,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>bomb0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,74},{46,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>bomb0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{46,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>bomb0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{46,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>bomb0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>Bomb.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32ba717f55e9cb46281c15822c793166$</string>
            <key>textureFileName</key>
            <string>Bomb.png</string>
        </dict>
    </dict>
</plist>
