<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BukGu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,634},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>BukGu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,634},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>BukGu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,774},{62,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>BukGu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,702},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>BukGu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>BukGu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,634},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Busan0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Busan0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Busan0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{62,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Busan0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Busan0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Busan0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>DongGu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,632},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>DongGu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,632},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>DongGu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,946},{62,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>DongGu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,564},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>DongGu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,564},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>DongGu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,632},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>DongRaeGu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,564},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>DongRaeGu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,564},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>DongRaeGu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,876},{62,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>DongRaeGu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>DongRaeGu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,562},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>DongRaeGu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,564},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Effect0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,690},{42,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Effect0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,704},{52,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Effect0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,634},{58,58}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Effect0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{66,60}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Effect0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,844},{60,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Effect0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,634},{48,54}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Effect0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GangSeoGu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,562},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GangSeoGu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,494},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GangSeoGu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,806},{62,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GangSeoGu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,494},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GangSeoGu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,494},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GangSeoGu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,562},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GeumJeongGu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,494},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GeumJeongGu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GeumJeongGu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,702},{62,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GeumJeongGu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,492},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GeumJeongGu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,492},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GeumJeongGu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,494},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GiJangGun0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,424},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GiJangGun0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,424},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GiJangGun0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,702},{62,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GiJangGun0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,424},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GiJangGun0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,424},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GiJangGun0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,424},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>HaeUndaeGu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>HaeUndaeGu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,422},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>HaeUndaeGu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,704},{62,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>HaeUndaeGu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,422},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>HaeUndaeGu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,354},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>HaeUndaeGu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>JinGu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,354},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>JinGu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,354},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>JinGu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,702},{62,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>JinGu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,354},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>JinGu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>JinGu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,354},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>JungGu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,352},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>JungGu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,352},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>JungGu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,912},{62,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>JungGu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,284},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>JungGu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,284},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>JungGu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,352},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>NamGu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,284},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>NamGu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,284},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>NamGu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,736},{62,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>NamGu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>NamGu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,282},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>NamGu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,284},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>SaHaGu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,282},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>SaHaGu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,214},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>SaHaGu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,842},{62,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>SaHaGu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,214},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>SaHaGu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,214},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>SaHaGu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,214},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>SaSangGu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,214},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>SaSangGu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>SaSangGu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,914},{62,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>SaSangGu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,212},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>SaSangGu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,212},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>SaSangGu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,214},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>SeoGu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,144},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>SeoGu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,144},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>SeoGu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,772},{62,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>SeoGu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,144},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>SeoGu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,144},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>SeoGu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,144},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>SuYeongGu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>SuYeongGu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,142},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>SuYeongGu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,844},{62,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>SuYeongGu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,142},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>SuYeongGu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,74},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>SuYeongGu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>YeonJeGu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,72},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>YeonJeGu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,72},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>YeonJeGu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{62,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>YeonJeGu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>YeonJeGu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>YeonJeGu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,72},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>YeongDoGu0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,74},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>YeongDoGu0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,74},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>YeongDoGu0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{62,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>YeongDoGu0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,74},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>YeongDoGu0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>YeongDoGu0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,74},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>EffectAndLogo.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0caaab04cbe5e769b2fb4fe3656eaf25$</string>
            <key>textureFileName</key>
            <string>EffectAndLogo.png</string>
        </dict>
    </dict>
</plist>
