<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EnemyEffect0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>EnemyEffect0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{54,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>EnemyEffect0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>EnemyEffect0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{72,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>EnemyEffect0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{64,56}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>EnemyEffect0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{52,58}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>EnemyEffect0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other1-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other1-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other1-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,74},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other1-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,74},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other1-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,74},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other1-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,74},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other1-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other2-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,74},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other2-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other2-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,146},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other2-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,146},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other2-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,146},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other2-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,146},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other2-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,74},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other3-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,146},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other3-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other3-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,218},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other3-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,218},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other3-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,218},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other3-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,218},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other3-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,146},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other4-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,218},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other4-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other4-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,290},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other4-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,290},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other4-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,290},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other4-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,290},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other4-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,218},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other5-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,290},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other5-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other5-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,362},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other5-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,362},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other5-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,362},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other5-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,362},{74,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>other5-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,290},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>EnemySheet.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20bc577fa348839c5279f5d04cda4014$</string>
            <key>textureFileName</key>
            <string>EnemySheet.png</string>
        </dict>
    </dict>
</plist>
