<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>other1-</string>
	<string>other2-</string>
	<string>other3-</string>
	<string>other4-</string>
	<string>other5-</string>
</array>
</plist>
